<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GovTech Technical Assesement</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Govtech Technical Challenge</h1>
        <h2>THE OPPENHEIMER PROJECT</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <form id="fileUploadForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <p>Select a CSV file to insert multiple records of working heroes to the DB</p>
                    <p class="font-italic">
                        <small>CSV headers must be the following format :
                            <strong>natid,name,gender,salary,birthday,tax</strong>
                            <a th:href="@{/example/workingExample.csv}" download>(Click to download a sample working
                                csv)</a>
                        </small>

                    </p>
                    <input type="file" class="form-control-file" name="file" id="file" accept=".csv" required>
                </div>
                <button id="btnSubmitUpload" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <form action="/cashdispense" method="get">
                <div class="form-group">
                    <p>Click button and redirect to page with text “Cash dispensed”</p>
                    <button id="dispense" type="submit" class="btn btn-danger">Dispense Now</button>
                </div>
            </form>
        </div>
    </div>

</main>

<!-- Modal -->
<div class="modal fade" id="uploadStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" id="header">
                <!-- Insert Title Here -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="uploadStatusBody">
                <!-- Insert Body Here -->
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="loading" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class='modal-title'>Uploading...</h5>
                <div class='spinner-border' role='status'>
                    <span class='sr-only'>Uploading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->
<script>
    $(document).ready(function () {
        $("#fileUploadForm").submit(function (event) {
        event.preventDefault();
        var form = $('#fileUploadForm')[0];
        var data = new FormData(form);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/workingclasshero/upload",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            beforeSend:function(){
                 $("#uploadStatusModal").modal('hide');
                 $("#loading").modal('show');
            },
            success: function (data) {
                 $("#loading").modal('hide');
                 $("#header").html("<h5 class='modal-title text-success'>Upload Successful</h5>");
                 $("#uploadStatusBody").html(data);
                 $("#uploadStatusModal").modal('show');
            },
            error: function (e) {
                console.log("ERROR : ", e.responseText);
                $("#loading").modal('hide');
                $("#header").html("<h5 class='modal-title text-danger'>Upload Fail</h5>");
                $("#uploadStatusBody").html("<p>Error encountered : "+e.responseText+"</p>");
                $("#uploadStatusModal").modal('show');
            }
          });
         });
        });
</script>
</body>
</html>